*{
    margin: 0;
    padding: 0;
}

.main-section{
    color: white;
    align-items: center;
    text-align: center;
}
.navbar{
    display: flex;
}
.logo img{
    width: 120px;
    padding: 10px;
    padding-left: 20px;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.header ul {
    list-style: none;

}
.navbar li a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;

}
.navbar li a:hover{
    color: rgb(186, 22, 22);
    font-weight: 900;
    background-color: white;
    font-weight: bold;

}

.nav-item{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

#home{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:50px 100px;
    height: 450px;
    justify-content: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 600px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}

#home h1{
    font-size: 80px;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;

}
#home p{
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.order-btn{
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color:rgb(222, 11, 36);
    border-radius: 5px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    cursor: pointer;
}
.order-btn:hover{
    color: rgb(222, 11, 36);
    background-color: white;
}


#our-services{
    text-align: center;
    padding: 20px;
    

}
#our-services h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.service{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.service-item{
    display: block;
    list-style: none;
    padding: 10px;
    width: 400px;
    border: 2px solid red;
    border-radius: 10px;

}
.caption{
    padding-top: 10px;
}
.caption h3{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif; 

}
.caption p{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif; 

}


#our-clients{
    position: relative;
    align-items: center;
}

#our-clients::before{
    content: "";
    position: absolute;
    background: url('bg1.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

#our-clients h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
}
.clients{
    padding: 20px ;
    display: flex;
    justify-content: space-around;

}
.client-img{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-img img{
    display: block;
    list-style: none;
    padding: 10px;
    width: 120px;

}




#contact-us{
    position: relative;
}
#contact-us::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-us h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 10px;
}


#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 9px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
} 
.form-fields{ 
    position: relative;
    padding: 30px;
}
.submit-btn{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    color: white;
    background-color: rgb(222, 11, 36);
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin: auto;
    display: block;

}

.submit-btn:hover{
    color: rgb(222, 11, 36);
    background-color: white;
    cursor: pointer;
}


.footer{
    font-size: 16px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
}

